    .signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  background: url('../Banner/reg1png.png') no-repeat center/cover;
}

.signup-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255,255,255,0.8);
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #667eea;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #667eea;
  text-decoration: none;
}