<div class="signup-container">
  <div class="signup-card">
    <h2>Create Account</h2>

    <!-- <form (ngSubmit)="register()" > -->
      <form #signupForm="ngForm" (ngSubmit)="register(signupForm)">
      <div class="input-group">
       <input type="text" name="name" [(ngModel)]="user.name" placeholder="Full Name" required />
      </div>

      <div class="input-group">
         <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Address" required />
      </div>

      <div class="input-group">
       <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" required />
  </div>

      <div class="input-group">
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required />
      </div>

     <button type="submit">Register</button>
      <p class="login-link">
        Already have an account? <a href="#">Login</a>
      </p>
    </form>
  </div>
</div>